.loan-form-container {
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .background {
    background-image: url('https://img.freepik.com/free-vector/car-finance-concept-illustration_114360-8058.jpg?t=st=1734949034~exp=1734952634~hmac=f1bd51148c257bb41e7320241b984111592e51d48b6992ab887fce53c673d063&w=826');
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: 100vh;
    padding-top: 60px; /* Adjust the gap here */
  }
  
  .card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
  }
  
  .card-header {
    background-color: #FF725C;
    color: white;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #e18164;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #FF725C;
  }
  
  .btn-info {
    background-color: #e64a19;
    border: none;
  }
  
  .btn-info:hover {
    background-color: #FF725C;
  }
  
  .btn-secondary {
    background-color: black;
    color: white;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #e64a19;
  }
  
  .modal-backdrop {
    filter: blur(5px);
  }
  
  #headings h2 {
    width: fit-content;
    background-color: white;
    font-weight: bold;
    color: #FF725C;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto; /* Center the heading */
    display: inline-block; /* Shrink to fit content */
    font-size: 1.5rem;
  }
  
  .table th, .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  .table .btn {
    margin: 0 5px;
  }
  
  .table-responsive {
    overflow-x: auto;
    margin-top: 20px;
  }
  
  input[type="text"], select {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #e64a19;
    border-radius: 5px;
  }
  
  input[type="text"]::placeholder {
    font-style: italic;
    color: #e64a19;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .alert-danger, .alert-info {
    margin-top: 20px;
  }
  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
  }
  