.navbar {
    background-color: #343a40;
    height: 0%; 
    padding: 0%;
  }
  
  .nav-link {
    color: white !important;
    font-size: 10px;
  }
  
  .nav-link:hover {
    color: #FF725C !important;
  }
  
  .btn-warning.nav-link {
    color: white !important;
    background-color: #FF725C !important;
    border: none;
  }
  
  .btn-warning.nav-link:hover {
    background-color: #e64a19 !important;
  }
  
  .navbar .navbar-nav .nav-item {
    margin-left: 10px;
    font-size: 10px;
  }
  
  .logout-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
  }
  
  .popup-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  