<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="userNavbar">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/viewloans">View Loans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/userappliedloan">Applied Loan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/viewfeedbacks">View FeedBacks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/addfeedbacks">Add FeedBacks</a>
      </li>
    </ul>
  </div>
</nav>
